<% provide(:title, @product.name) %>
<%= render 'product_header', product: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'product_detail', product: @product %>
    <%= render 'related_product', related_products: @related_products %>
  </div>
</section>
