<% provide(:title, @product.name) %>
<%= render '/potepan/products/product_header' %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render '/potepan/products/product_detail', product: @product %>
    <%= render '/potepan/products/related_product' %>
  </div>
</section>
