<% provide(:title, @product.name) %>
<%= render 'potepan/shared/lower_header', object: @product %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render 'product_detail', product: @product %>
    <%= render 'related_product' %>
  </div>
</section>
